* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --bg-main: #0f172a;
  --bg-dark: #020617;
  --bg-card: #1e293b;

  --card-grad-1: #1e293b;
  --card-grad-2: #020617;

  /* --primary: #f97316; */
  --primary: #C89B3C;
  --text-light: #cbd5f5;
  --white: #ffffff;
 
}
.light-theme {
  --bg-main: #f9fafb;
  --bg-dark: #e5e7eb;
  --bg-card: #ffffff;

  --card-grad-1: #ffffff;
  --card-grad-2: #e5e7eb;

  /* --primary: #f97316; */
  --primary: #C89B3C;
  --text-light: #1f2937;
  --white: #1f2937;
 

}
/* ================= BASE ================= */

body {
  background: var(--bg-main);
  color: var(--white);
   transition: background 0.3s, color 0.3s;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}
html{
  scroll-behavior: smooth;
}
.section {
  padding: 60px 40px;
}
/* ================= HEADER ================= */
.container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(90deg,var(--bg-dark), var(--bg-main) );
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Logo */
/* .logo {
  font-size: 26px;
  font-weight: bold;
   height: 45px;
  color: var(--primary);
} */
/* ================= NAVBAR ================= */

/* Desktop nav */
nav {
  display: flex;
   gap: 25px;

}
.logo img{
  height: 50px;
  object-fit: contain;
}

nav a {
 
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

/* underline hover */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Right side (theme + hamburger) */
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ================= THEME BUTTON ================= */

 #themeBtn {
 background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

 /* ================= HAMBURGER ================= */
.menu-btn {
  width: 28px;
  height: 20px;
  display: none;  /* desktop hidden */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-btn span {
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 4px;
  transition: 0.3s;
}
/* Disable scroll when menu open */
     .no-scroll {
        overflow: hidden;
       }
/* Hamburger Animation to X */
.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
 
/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  gap: 40px;
  background: radial-gradient(circle at top,var(--card-grad-1), var(--bg-dark));
}
/* LEFT SIDE */
.hero-content {
  max-width: 550px;
}
.hero-content h1 {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}
.hero-content h1 span {
  background: linear-gradient(45deg, var(--primary), #fb923c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.hero-content p {
  margin: 20px 0 30px;
  font-size: 18px;
  color: var(--text-light);
}

/* SEARCH BAR */
/* 
.hero-search {
  display: flex;
  background: var(--bg-card);
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
} */
/* SEARCH BAR */
.hero-search {
  display: flex;
  background: var(--bg-card);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  margin-bottom: 25px;
}

/* .hero-search input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
} */
 .hero-search input {
  flex: 1;
  padding: 14px 22px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 15px;
}
/* .hero-search button {
  padding: 12px 25px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
} */
.hero-search button {
  padding: 0 22px;
  border: none;
  background: linear-gradient(45deg, var(--primary), #fb923c);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* ================= BUTTON SYSTEM ================= */

/* Global button (basic only) */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s ease;
}

/*Hero Buttons */
.hero-actions {
  display: flex;
  gap: 15px;


}

.primary-btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: linear-gradient(45deg, var(--primary), #fb923c);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.outline-btn {
  padding: 12px 30px;
  border-radius: 30px;
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover only for hero buttons */
.primary-btn:hover,
.outline-btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(249,115,22,0.5);
}

/* Hero section Image */
.hero-img {
  position: relative;
}

.hero-img img {
  max-width: 460px;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
   animation: float 4s ease-in-out infinite;
}

.hero-img img:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 30px 60px rgba(249,115,22,0.4);
}
/* Glow */
.hero-img::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(249,115,22,0.2), rgba(255,255,255,0.05));
  filter: blur(25px);
  z-index: -1;
}
/* Floating animation */
@keyframes float {
 0%,100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

/* End */


.section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--primary);
}

 /* FEATURED PRODUCT  */
 .featured {
  background: linear-gradient(135deg, var(--bg-dark), var(--bg-main));
}

.featured-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background: var(--bg-card);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.featured-text h2 {
  font-size: 32px;
  color: var(--primary);
}

.featured-text p {
  margin: 15px 0 25px;
  color: var(--text-light);
  font-size: 18px;
}

.featured-img img {
  max-width: 300px;
  border-radius: 20px;
  animation: float 4s ease-in-out infinite;
}

/* Mobile */
@media (max-width: 768px) {
  .featured-box {
    flex-direction: column;
    text-align: center;
  }

  .featured-img img {
    width: 100%;
  }
}


/* GRIDS */
.products,
.categories,
.why {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 25px;
 
}

.card {
  background: linear-gradient(180deg,var(--card-grad-1), var(--card-grad-2));
  padding: 18px;
  border-radius: 16px;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);

   width: 100%;
  
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}


.card img {
 
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.card h3 {
 font-size: 15px;
  margin: 10px 0 5px;
}

.card p {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 5px;
}
/* HIDE FILTERED CARDS */
.card.hide {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  display: none;
}
#noResult {
 grid-column: 1 / -1;
  text-align: center;
  padding: 30px;
  background: var(--bg-card);
  border-radius: 20px;
  color: var(--text-light);
  font-size: 18px;
}
/* product filter */
.product-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.product-filter input,
.product-filter select {
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid var(--primary);
  outline: none;
  background: var(--bg-card);
  color: var(--white);
  font-size: 14px;
}

/* mobile */
@media (max-width: 768px) {
  .product-filter {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }
  .card h3 {
    font-size: 16px;
  }
}




/* CATEGORY */
.cat {
  background:var(--bg-card);
  padding: 25px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.cat:hover {
  background: var(--primary);
  color: black;
  transform: translateY(-5px);
}
/* Testimonial section  */
.testimonials {
  text-align: center;
  background: radial-gradient(circle at top, var(--bg-card), var(--bg-dark));
  padding: 50px 20px;
  overflow: hidden;
}

.testimonial-slider {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.testimonial-track {
  display: flex;
  transition: transform 0.6s ease;
  gap: 20px; /* add space between cards */
}

.testimonial-card {
  min-width: 100%;
  padding: 25px;
  background: linear-gradient(180deg, var(--card-grad-1), var(--card-grad-2));
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.testimonial-card p {
  color: var(--text-light);
  margin-bottom: 10px;
  font-size: 16px;
}

.testimonial-card h4 {
  color: var(--primary);
  font-weight: 600;
}

/* DOTS */
.testimonial-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.testimonial-dots span {
  width: 12px;
  height: 12px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.testimonial-dots span.active {
  background: var(--primary);
  transform: scale(1.3);
}

/* Hover pause */
.testimonial-slider:hover {
  cursor: pointer;
}
/* mordern filter bar */



/* CONTACT */
.contact-form {
  max-width: 400px;
  margin: auto;
  display: grid;
  gap: 10px;
}

.contact-form input, textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
/* FOOTER */
footer {
  padding: 20px;
  background: black;
  text-align: center;
}


/* ================= MOBILE MENU ================= */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  nav {
    position: absolute;
    top: 70px;
    left: 0;
     width: 100%;
    background: var(--bg-dark);
    flex-direction: column;
    align-items: center;

   /* hidden by default */
    max-height: 0;
    overflow: hidden;
    opacity: 0;

   transition: max-height 0.4s ease, opacity 0.3s ease;
    z-index: 2000; /*show above here */

  }
  nav.active {
     max-height: 300px; /* opens menu */
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
      opacity: 1;
  }

  nav a {
    padding: 12px 0;
    font-size: 18px;
  }
   #themeBtn {
    width: 28px;
    height: 28px;
    font-size: 13px;
  }

   .section {
    padding: 30px 15px;
  }

  
/* ////hero section */
 
  .hero {
    flex-direction: column;
     text-align: center;
     /* padding: 30px 20px; */
      padding: 40px 20px;
  }
  .hero-img img {
    max-width: 100%;
     /* max-width: 280px; */
    border-radius: 20px;
  }
  
  .hero-text h1 {
    /* font-size: 28px; */
     font-size: 30px;
  }
  .hero-content p {
    font-size: 15px;
  }
  .hero-search {
    width: 100%;
  }
  .hero-buttons {
    flex-direction: column;
  }

  /* //card section */
   .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 100%;
  }

  .card img {
    height: 150px;
  }

  

  /* //contact section */
  .contact-form {
    width: 90%;
  }

  input, textarea {
    font-size: 16px;
  }
  
}

