* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --bg-main: #0f172a;
  --bg-dark: #020617;
  --bg-card: #1e293b;

  --card-grad-1: #1e293b;
  --card-grad-2: #020617;

  --primary: #f97316;
  --text-light: #cbd5f5;
  --white: #ffffff;
 
}
.light-theme {
  --bg-main: #f9fafb;
  --bg-dark: #e5e7eb;
  --bg-card: #ffffff;

  --card-grad-1: #ffffff;
  --card-grad-2: #e5e7eb;

  --primary: #f97316;
  --text-light: #1f2937;
  --white: #1f2937;
 

}
/* ================= BASE ================= */

body {
  background: var(--bg-main);
  color: var(--white);
   transition: background 0.3s, color 0.3s;
  padding: 0;
  overflow-x: hidden;
}
/* ================= HEADER ================= */
.container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(90deg,var(--bg-dark), var(--bg-main) );
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Logo */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary);
}
/* Nav links (desktop) */
nav {
  display: flex;
   gap: 25px;
   transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0 0; /* collapse padding when closed */
}

nav a {
 
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}
/* Right side */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


 /* ================= HAMBURGER ================= */
.menu-btn {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.menu-btn span {
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 5px;
  transition: 0.3s;
}
/* Hamburger Animation to X */
.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
 .section {
  padding: 60px 40px;
}
/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
  background: radial-gradient(circle at top,var(--card-grad-1), var(--bg-dark));
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-text p {
  font-size: 18px;
  margin: 20px 0;
  color: var(--text-light);
}
.hero-img img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.hero button {
  background: linear-gradient(45deg, var(--primary), #fb923c);
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(249,115,22,0.5);
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.05);
}
/* buttons global */
button {
  padding: 10px 25px;
  border: none;
  background: linear-gradient(45deg, var(--primary), #fb923c);
  color: var(--white);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(249,115,22,0.6);
}
/* End */

.section {
  /* opacity: 0;
  transform: translateY(50px);
  transition: 0.8s; */
  padding: 40px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--primary);
}

/* GRIDS */
.products,
.categories,
.why {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: linear-gradient(180deg,var(--card-grad-1), var(--card-grad-2));
  padding: 20px;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}


.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: var(--primary);
  font-weight: bold;
}

/* CATEGORY */
.cat {
  background:var(--bg-card);
  padding: 25px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.cat:hover {
  background: var(--primary);
  color: black;
  transform: translateY(-5px);
}
/* DARK SECTION */
 #themeBtn {
  border: none;
  font-size: 20px;
  cursor: pointer;
   /* margin-left: 15px; */
}



/* CONTACT */
.contact-form {
  max-width: 400px;
  margin: auto;
  display: grid;
  gap: 10px;
}

.contact-form input, textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
/* FOOTER */
footer {
  padding: 20px;
  background: black;
  text-align: center;
}


/* ================= MOBILE MENU ================= */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  nav {
    position: absolute;
    top: 70px;
    left: 0;
     width: 100%;
    background: var(--bg-dark);
    flex-direction: column;
    align-items: center;

   /* hidden by default */
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.4s ease;
    z-index: 2000; /*show above here */

  }
  nav.active {
     max-height: 300px; /* opens menu */
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }

  nav a {
    padding: 12px 0;
    font-size: 18px;
  }
   .section {
    padding: 30px 15px;
  }
  
/* ////hero section */
  h1 { font-size: 28px; }
  p { font-size: 15px; }

  .hero {
    flex-direction: column;
     text-align: center;
  }
   .hero-img img {
    width: 100%;
  }
  
  .hero-text h1 {
    font-size: 28px;
  }
  /* //contact section */
  .contact-form {
    width: 90%;
  }

  input, textarea {
    font-size: 16px;
  }
  
}
