/* =========================
   1. RESET & VARIABLES
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --bg-main: #0f172a;
  --bg-dark: #020617;
  --bg-card: #1e293b;

  --card-grad-1: #1e293b;
  --card-grad-2: #020617;

  /* --primary: #f97316; */
  --primary: #c89b3c;
  --text-light: #cbd5f5;
  --white: #ffffff;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 25px;

  --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.light-theme {
  --bg-main: #f9fafb;
  --bg-dark: #e5e7eb;
  --bg-card: #ffffff;

  --card-grad-1: #ffffff;
  --card-grad-2: #e5e7eb;

  /* --primary: #f97316; */
  --primary: #c89b3c;
  --text-light: #1f2937;
  --white: #1f2937;
}

/* =====================================================
   2. BASE STYLES
===================================================== */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-main);
  color: var(--white);
  overflow-x: hidden;
  overscroll-behavior: none;
}

.section {
  padding: 60px 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
}
img {
  max-width: 100%;
  display: block;
}
a:focus,
button:focus,
input:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

/* =====================================================
   3. LAYOUT (Header, Hero, Sections)
===================================================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(90deg, var(--bg-dark), var(--bg-main));
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo img {
  height: 50px;
  object-fit: contain;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: var(--white);
  text-decoration: none;
  position: relative;
}

/* underline hover */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Right side (theme + hamburger) */
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* hero section  */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  gap: 40px;
  background: radial-gradient(
    circle at top,
    var(--card-grad-1),
    var(--bg-dark)
  );
}
/* LEFT SIDE */
.hero-content {
  max-width: 550px;
}
.hero-content h1 {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}
.hero-content h1 span {
  background: linear-gradient(45deg, var(--primary), #fb923c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  margin: 20px 0 30px;
  font-size: 18px;
  color: var(--text-light);
}

/* SEARCH BAR */
.hero-search {
  display: flex;
  background: var(--bg-card);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.hero-search input {
  flex: 1;
  padding: 14px 22px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 15px;
}

.hero-search button {
  padding: 0 22px;
  border: none;
  background: linear-gradient(45deg, var(--primary), #fb923c);
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.hero-actions {
  display: flex;
  gap: 15px;
}
/* Hero section Image */
.hero-img {
  position: relative;
}

.hero-img img {
  max-width: 460px;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  animation: float 4s ease-in-out infinite;
}

.hero-img img:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 30px 60px rgba(249, 115, 22, 0.4);
}
/* Glow */
.hero-img::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 30px;
  background: linear-gradient(
    135deg,
    rgba(249, 115, 22, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  filter: blur(25px);
  z-index: -1;
}

/* End */

/* GRIDS */
.products,
.categories,
.why {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.card h3 {
  font-size: 15px;
  margin: 10px 0 5px;
}

.card p {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 5px;
}

/* Trust section  */
.trust-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

/* =====================================================
   4. COMPONENTS
===================================================== */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s ease;
}
.btn-primary {
  border-radius: 30px;
  background: linear-gradient(45deg, var(--primary), #fb923c);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-outline {
  border-radius: 30px;
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary,
.btn-outline {
  padding: 12px 28px;
}
.btn-small {
  padding: 6px 14px;
  font-size: 13px;
}
.btn-primary:hover,
.btn-outline:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(249, 115, 22, 0.5);
}

.card .btn-primary {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 16px;
}

.card .btn-primary:hover {
  background: var(--primary);
  color: #fff;
}
/* == THEME BUTTON === */
#themeBtn {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* ===== HAMBURGER ===== */
.menu-btn {
  width: 28px;
  height: 20px;
  display: none; /* desktop hidden */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-btn span {
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 4px;
  transition: 0.3s;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.7;
}
/* Close button overlay */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 20;
}
.close-btn:hover {
  background: var(--primary);
  transform: scale(1.1);
}

/* WhatsApp button */
.whatsapp-btn {
  display: block;
  margin-top: 15px;
  padding: 12px;
  background: #25d366;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: background 0.2s ease;
  position: sticky;
  bottom: 0px;
}

.whatsapp-btn:hover {
  background: #1ebe5d;
}
/* Light mode support */
.light-theme .close-btn {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Product Card */
.product-card {
  background: linear-gradient(180deg, var(--card-grad-1), var(--card-grad-2));
  padding: 18px;
  border-radius: var(--radius-md);
  transition: 0.3s;
  box-shadow: var(--shadow-lg);
  cursor: pointer;
  width: 100%;
  position: relative;
}
.product-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* Category Card */
.category-card {
  background: var(--bg-card);
  padding: 25px;
  border-radius: var(--radius-md);
  font-size: 18px;
  box-shadow: var(--shadow-md);
  transition: 0.3s;
  cursor: pointer;
}
.category-card:hover {
  background: var(--primary);
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.category-card.active {
  background: var(--primary);
  color: black;
  transform: scale(1.05);
}

/* Trust Card */
.trust-card {
  background: var(--bg-card);
  padding: 25px;
  border-radius: var(--radius-md);
  text-align: center;
  box-shadow: var(--shadow-sm);
  transition: 0.3s;
}
.trust-card i {
  font-size: 32px;
  color: var(--primary);
  margin-bottom: 10px;
}

.trust-card h3 {
  margin: 10px 0 5px;
}

.trust-card p {
  font-size: 14px;
  color: var(--text-light);
}

.trust-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Testimonial */
.testimonial-card {
  min-width: 100%;
  padding: 25px;
  background: linear-gradient(180deg, var(--card-grad-1), var(--card-grad-2));
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  transition: transform 0.3s ease;
}

/* product filter */
.product-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.product-filter input,
.product-filter select {
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid var(--primary);
  outline: none;
  background: var(--bg-card);
  color: var(--white);
  font-size: 14px;
}

/* End */

/* Testimonial section  */
.testimonials {
  text-align: center;
  background: radial-gradient(circle at top, var(--bg-card), var(--bg-dark));
  padding: 50px 20px;
  overflow: hidden;
}

.testimonial-slider {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.testimonial-track {
  display: flex;
  transition: transform 0.6s ease;
}

.testimonial-card p {
  color: var(--text-light);
  margin-bottom: 10px;
  font-size: 16px;
}

.testimonial-card h4 {
  color: var(--primary);
  font-weight: 600;
}

/* DOTS */
.testimonial-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.testimonial-dots span {
  width: 12px;
  height: 12px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.testimonial-dots span.active {
  background: var(--primary);
  transform: scale(1.3);
}

/* Hover pause */
.testimonial-slider:hover {
  cursor: pointer;
}

.testimonial-slider:hover .testimonial-card {
  transform: scale(1.01);
}

/* PRODUCT MODAL   product features*/
/* PRODUCT MODAL */
.modal-product {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal-product.active {
  display: flex;
}

.modal-content {
  background: linear-gradient(180deg, var(--card-grad-1), var(--card-grad-2));
  padding: 20px;
  border-radius: 20px;
  max-width: 420px;
  width: 90%;
  max-height: 85vh; /* VERY IMPORTANT */
  overflow-y: auto;
  text-align: center;
  animation: zoomIn 0.3s ease;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;
  object-fit: cover;
}

.modal-content h2 {
  color: var(--primary);
  font-size: 20px;
  margin-bottom: 6px;
}

.modal-price {
  font-weight: bold;
  color: var(--primary);
  font-size: 18px;
}

.modal-content p {
  margin: 8px 0;
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.4;
}
.modal-img-wrap {
  position: relative;
}
.modal-img-wrap img {
  width: 100%;
  border-radius: 15px;
}

#modalPrice {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}
#modalSave {
  color: #22c55e;
  font-weight: 600;
  margin-bottom: 10px;
}

/* FEATURED PRODUCT  */
.product-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin: 12px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: var(--text-light);
}

.product-features li {
  background: rgba(255, 255, 255, 0.05);
  padding: 6px 10px;
  border-radius: 10px;
}

.featured {
  background: linear-gradient(135deg, var(--bg-dark), var(--bg-main));
}

.featured-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background: var(--bg-card);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.featured-text h2 {
  font-size: 32px;
  color: var(--primary);
}

.featured-text p {
  margin: 15px 0 25px;
  color: var(--text-light);
  font-size: 18px;
}

.featured-img img {
  max-width: 300px;
  border-radius: 20px;
  animation: float 4s ease-in-out infinite;
}

/* FOOTER  section */
.site-footer {
  background: #0f0f14;
  color: #ccc;
  padding: 50px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  width: 140px;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--primary);
}

.footer-col p {
  font-size: 14px;
  margin: 8px 0;
}
.footer-col p a {
  color: #fff; /* or your footer text color */
  text-decoration: none;
}

.footer-col p a:hover {
  color: #25d366;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.footer-social a {
  width: 36px;
  height: 36px;
  background: #1a1a22;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background: var(--primary);
  transform: translateY(-3px);
}

.trust-text {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 10px;
}
.footer-location {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.footer-location:hover {
  color: #25d366;
  text-decoration: underline;
}

.dev-credit a {
  color: var(--primary);
  text-decoration: none;
}

.dev-credit a:hover {
  text-decoration: underline;
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  z-index: 5000;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.whatsapp-float img {
  width: 28px;
  height: 28px;
}

/* =====================================================
   7. UTILITIES
===================================================== */

.no-scroll {
  overflow: hidden;
}

/* HIDE FILTERED CARDS */
.product-card.hide {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  display: none;
}
#noResult {
  grid-column: 1 / -1;
  text-align: center;
  padding: 30px;
  background: var(--bg-card);
  border-radius: 20px;
  color: var(--text-light);
  font-size: 18px;
}
/* start no found result show  */
.no-result {
  display: none;
  text-align: center;
  margin-top: 40px;
  padding: 30px;
  background: var(--bg-card);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

.no-result img {
  width: 120px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.no-result h3 {
  color: var(--primary);
  margin-bottom: 8px;
}

.no-result p {
  color: var(--text-light);
  font-size: 14px;
}

/* DISCOUNT BADGE */
.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff3b3b;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 59, 59, 0.4);
}
.price {
  font-weight: bold;
  color: var(--primary);
}
.old-price {
  text-decoration: line-through;
  opacity: 0.6;
  margin-left: 6px;
}

/* =========================
   6. ANIMATIONS
========================= */

/* Hamburger Animation to X */
.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Floating*/
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
/* Fadein*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================
   7. MEDIA QUERIES
========================= */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--bg-dark);
    flex-direction: column;
    align-items: center;

    /* hidden by default */
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition:
      max-height 0.4s ease,
      opacity 0.3s ease;
    z-index: 2000; /*show above here */
  }
  nav.active {
    max-height: 300px; /* opens menu */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  nav a {
    padding: 12px 0;
    font-size: 18px;
  }
  #themeBtn {
    width: 28px;
    height: 28px;
    font-size: 13px;
  }

  .section {
    padding: 30px 15px;
  }

  /* ////hero section */

  .hero {
    flex-direction: column;
    text-align: center;
    /* padding: 30px 20px; */
    padding: 40px 20px;
  }
  .hero-img img {
    max-width: 100%;
    /* max-width: 280px; */
    border-radius: 20px;
  }

  .hero-text h1 {
    /* font-size: 28px; */
    font-size: 30px;
  }
  .hero-content p {
    font-size: 15px;
  }
  .hero-search {
    width: 100%;
  }
  .hero-buttons {
    flex-direction: column;
  }

  /* //Product section */
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    max-width: 100%;
  }

  /* .product-card img {
    height: 150px;
  } */

  /* //product filter  */
  .product-filter {
    flex-direction: column;
  }
  /* product features  */
  .featured-box {
    flex-direction: column;
    text-align: center;
  }

  .featured-img img {
    width: 100%;
  }

  /* product modal  */
  .modal-content {
    padding: 18px;
  }

  .modal-content h2 {
    font-size: 18px;
  }
  .close-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  /* footer button  */
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
}
/* ================= SMALL MOBILE ================= */
@media (max-width: 480px) {
  .product-card {
    max-width: 100%;
  }
  .product-card h3 {
    font-size: 16px;
  }
}
